.footer{   
    background-color:var(--primary);
    color: white;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 55% 80px 80px;
    margin-bottom: 80px;
    position: relative;
}
.footer .email {
    font-size: 50px;
    cursor: pointer;
}
.footer .email:hover {
    text-decoration:underline;
}
.footer hr{
    width:200px;
    border: 2px solid white;
}
.footer .about-me{
    font-size: 20px;
    max-width: 350px;
}
.footer .social svg{
    margin-right: 30px;
    fill: rgba(255,255,255,0.8);
}
.footer .social a:hover svg{
    transform:scale(1.1);
    fill: white;
}
/* Footer image */
.image-footer{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background: linear-gradient(90deg, #223144 50%, #131E2B 100%);
    display: flex;
    justify-content: center;
    overflow: hidden;    
}
.image-footer .stars-bg{
    transition: transform 5s ease-out;
}
.image-footer:hover .stars-bg{
    transform: rotate(20deg) scale(1.2);
}
.image-footer:hover {
    background: linear-gradient(120deg, #223144 50%, #131E2B 100%);
}
.image-footer img{
    height: 100%;
    object-fit:contain;
    position: absolute;
}
.Copyright {
    font-size: 18px;
}
