/**** Variables ****/
:root{
  --clr-grey-light: #BBBBBB;
  --clr-grey-dark: #222222;
  --primary: #223144;
  
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.15s ease-out;
}
html{
  overflow-x:hidden;
  margin: auto;
  min-width: 100vw;
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
body {
  margin: 0;
  font-family: -apple-system, Lato, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  overflow-x:hidden;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.container{
  max-width: 1200px;
  margin: auto;
  position: relative;
}
.section-title{
  font-size: 100px;
  color: var(--primary);
  z-index: 99;
  letter-spacing: 0.03em;
  margin-left: -7px;
  position: absolute;
  display: inline-block;
  top: -99px;
  left: 0;
}
.mg-tp-100{
  margin-top: 100px;
}
.mg-bt-200{
  margin-bottom: 200px;
}
/**** Scrollbar ****/
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: #afafaf;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #8b8b8b;
}
::-webkit-scrollbar-track{
  background: #eee;
}


/*Mobile */
@media screen and (max-width: 1300px) {
  body{
    width: 100vw;
    padding: 0 20px;
  }
  .project .mockup-lg{
    width: 40%;
  }
}
@media screen and (max-width: 940px) {
  body{
    padding: 0 20px;
  }
  .project{
    text-align: center;
    grid-column: 1 / -1;
    position: relative;
  }
  .project .description{
    position: absolute;
    height: 40%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding-top:50px;
  }
  .project .description .description-text{
    max-width: 70%;
    margin: 10px auto auto auto;
    font-size: 18px;
  }
  .project .mockup-image{
    position: absolute;
    height: 60%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    padding-top: 20px;
    
  }
  .project .mockup-image img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width:auto;
    margin: auto;
  }
  .travelo img.mockup-lg{
    width: 100%;
    height: auto;
  }
  .analysis .mockup-image img{
    height: 110%!important;
    bottom: 0;
  }
   .project .additional{
    display: none;
  }
  h1.Hero-text{
    font-size:35px!important;
  }
  h1.section-title{
    font-size: 80px;
    top: -78px;
    margin-left: -6px;
  }
  .footer{
    padding: 100px 50px !important;
    text-align: center;
    align-items: center;

  }
  .footer .image-footer{
    display:none;
  }
  .hamburger{
    display:inline-block!important;
  }
  
  .nav-section ul{
    display: none;
}
}
